<div class='container d-flex flex-column pt-2'>
  <h1>Users</h1>
  <ul class="user-list d-flex justify-content-center">
    <% @users.each do |user| %>
      <li class="user-item">
        <img src="<%= user.photo %>" alt="User Photo" class="user-photo">
        <div class="user-info">
          <a class="user-name label-link" href="<%= user_path(user) %>"><%= user.name %></a>
          <p class="user-posts">Number of Posts: <%= user.posts_counter %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
