<!DOCTYPE html>
<html>
  <head>
    <title>List of Users</title>
  </head>
  <body>
    <ul class="user-list">
      <% @users.each do |user| %>
        <li class="user-item">
          <img src="<%= user.photo %>" alt="User Photo" class="user-photo">
          <div class="user-info">
            <h2><%= user.name %></h2>
            <p>Number of Posts: <%= user.posts_counter %></p>
          </div>
          <a class= 'link-see-user-profile link-btn' href="<%= user_path(user) %>">See User Profile</a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
