<div 
  class="offcanvas offcanvas-start position-relative z-0 bg-dark-subtle vh-100"
  data-bs-scroll="true" 
  data-bs-backdrop="false"
  tabindex="-1" 
  id="offcanvasScrolling"
  aria-labelledby="offcanvasScrollingLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Search options</h5>
    <button id="closeSidebarButton" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group">
      <%= link_to recent_posts_path, class: "list-group-item d-flex justify-content-between align-items-start py-3" do %>
        <div class="ms-2 me-auto fw-bold">Recent posts</div>
        <span class="badge bg-primary rounded-pill">14</span>
      <% end %>

      <%= link_to root_path, class: "list-group-item d-flex justify-content-between align-items-start py-3" do %>
        <div class="ms-2 me-auto fw-bold">Recent commented posts</div>
        <span class="badge bg-primary rounded-pill">14</span>
      <% end %>

      <%= link_to root_path, class: "list-group-item d-flex justify-content-between align-items-start py-3" do %>
        <div class="ms-2 me-auto fw-bold">Most liked posts</div>
        <span class="badge bg-primary rounded-pill">14</span>
      <% end %>

    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    console.log('DOMContentLoaded event');
    initSideBar();
  });

  document.addEventListener('turbo:load', function () {
    console.log('turbo:load event');
    initSideBar();
  });

  function handleSideBarToggle() {
    let offcanvas = document.getElementById('offcanvasScrolling');
    let hasShowClass = offcanvas.classList.contains('show');
    let mainContainer = document.getElementById('main-container');


    console.log("click event - hasShowClass: ", hasShowClass);

    sidebarState = hasShowClass ? 'hide' : 'show';
    sessionStorage.setItem('sidebarState', sidebarState);

    if (sidebarState === 'hide') {
      setTimeout(() => mainContainer.classList.toggle('flex-column-reverse', true), 300);
    } else {
      mainContainer.classList.toggle('flex-column-reverse', false);
    }
  };   


  function initSideBar() {
    let toggleButton = document.getElementById('SidebarNavButton');
    let closeSidebarButton = document.getElementById('closeSidebarButton');
    let mainContainer = document.getElementById('main-container');
    let offcanvas = document.getElementById('offcanvasScrolling');
  
    let hasShowClass = offcanvas.classList.contains('show');  
    let sidebarState = sessionStorage.getItem('sidebarState') || 'show';

    console.log("inside sidebar script - sidebarState: ", sidebarState);
    mainContainer.classList.toggle('flex-column-reverse', !hasShowClass);
    
    if (sidebarState==='show' && !hasShowClass) {
      offcanvas.classList.toggle('show', true);
    } else if (sidebarState==='hide' && hasShowClass) {
      offcanvas.classList.toggle('show', false);
    }


    closeSidebarButton.addEventListener('click', handleSideBarToggle);
    toggleButton.addEventListener('click', handleSideBarToggle);
  }
</script>
