<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
</head>
<body>
  <h1>Post Details</h1>
  <p>This is the details page for post ID xxx belonging to user ID yyy.</p>
  <p>parameters: <%= params %></p>
</body>
</html>
